@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <p>Enter value below.</p>

    <form method="post">
        <input type="text" name="name" value="" />
        <br />
        <input type="submit" name="submit" value="Submit" />
    </form>
}


